<!DOCTYPE html>
<html>
    <head>
        <title>Login</title>
         <link rel="stylesheet" 
         href="/static/style.css">
    </head>
    <body>
        <div class="container">
    <h2>Login Page</h2>
    {% if message %}
    <p style="color:red;">{{message}}</p>
    {% endif %}
    <form action="/login" method='POST'>
        <label>Username:</label>
        <input type="text" name="Username" placeholder="Enter Username"><br><br>
        <label>Password:</label>
        <input type="text" name="Password" placeholder="Enter Password"><br><br>
        <button class="login-btn">Login</button>
    </form>
    <p>Don't have an account ?<a href="/register">Register</a></p>
        </div>
    </body>
</html>